:root{
    --main-color:rgb(30, 3, 88);
    --primary-color:black;
    --secondary-color:white;
  
    --main-font-family:arial;
  }
  *{
    margin:0;
    padding:0;
  }
  body{
    padding:20px;
    margin:10px;
    border:2px solid var(--primary-color);
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(44, 13, 145, 0);
  }
  p,
  h1{
    display:inline-block;
  }
  img{
    width:100%;
  }